.hidden { display: none; }

/*flash*/

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}


.cotation-container {
	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 3rem 1rem 1rem 1rem;
  	flex-direction: column;
  	form {
  		label {
  			font-weight: bold;
  		}
	  	width: 80%;
	  	border: 1px solid;
	  	flex-direction: column;
	  	justify-content: center;
	  	padding: 1rem 1rem 1rem 1rem;
	  	.form-control-file, .form-control-range {
			width: auto;
			font-weight: bold;
	  	}
	  	legend {
	  		font-weight: bold;
	  	}
  	}
  	background-image: url('https://res.cloudinary.com/shipantiques/image/upload/q_64/v1580740015/images-site/boat-containers_original_agbjfm.jpg');
  	color: white;
  	.form-actions {
		text-align: center;
		font-weight: 700;
		.btn {
			color: white
		}
  	}
  	a {
  		color: white;
  		margin-top: 3rem;
  		border: 1px solid;
  		padding: 1rem 1rem 1rem 1rem;
  	}
}

.cotation-container .btn-cloudinary {
  color: white;
  border-radius: 0%;
  background: #118DD1;
}