<div id="cookieConsent" style='display: none'>
    <div id="closeCookieConsent">x</div>
    <%= t "shared._cookies.content" %>
    <%= link_to(t('shared._cookies.link'), mentions_legales_path) %>
    <a class="cookieConsentOK"><%= t "shared._cookies.close" %></a>
</div>