  <footer class="site-footer">
    <div class="container">
        <div class="footer-info">

          <div class="footer-1">
            <h2 class="footer-heading mb-4">A propos</h2>
            <p style="text-align: justify;">Composée d'une jeune équipe de treize personnes, Ship Antiques propose depuis 2009 des solutions d'emballage et de transport pour tous les types de marchandises, et vers toutes les destinations. Fortement orientée vers l'Asie et les États-Unis, Ship Antiques est devenue en quelques années incontournable sur le marché des Antiquaires de Saint-Ouen.
            </div>

          <div class="footer-2">
            <h2 class="footer-heading mb-4">Liens</h2>
            <ul class="list-unstyled">
              <li><a href="index-fr.html#section-about">A propos</a></li>
              <li><a href="index-fr.html#section-services">Services</a></li>
              <li><a href="index-fr.html#section-photos">Photos</a></li>
              <li><a href="index-fr.html#section-contact">Contactez-nous</a></li>
            </ul>
          </div>

          <div class="footer-3">
            <h2 class="footer-heading mb-4">Trouvez-nous sur : </h2>
            <a href="https://www.facebook.com/SHIP-ANTIQUES-168465044114/"><span class="icon-facebook"></span></a>
            <br>
            <a href="https://fr.linkedin.com/company/ship-antiques" class="mb-4"><span class="icon-linkedin"></span></a>
          </div>

        </div>

      <div class="row pt-3 text-center">
        <div class="col-md-12">
            <p>
            <small class="block">&copy;
              <script>document.write(
                new Date().getFullYear());
              </script>
               Ship Antiques. All Rights Reserved.
               <br>
               Designed &amp; Developed by
               <a href="https://delage.dev/" target="_blank">
               delage.dev</a></small>
            </p>
        </div>

      </div>
    </div>
  </footer>