.btn {
  text-transform: uppercase;
  letter-spacing: .2em;
  }

.btn:hover, .btn:active, .btn:focus {
  outline: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

.btn.btn-black {
  color: #fff;
  background-color: #000; }
  .btn.btn-black:hover {
    color: #000;
    background-color: #fff; }


.btn-prk {
  color: white;
  background-color: #2F98F3;
  border-color: #2F98F3; }

.btn-prk:hover {
  color: #4B4B4C;
  background-color: #68B3F6;
  border-color: #68B3F6; }

.btn-prk:focus, .btn-prk.focus {
  -webkit-box-shadow: 0 0 0 0.5rem #2F98F3;
  box-shadow: 0 0 0 0.5rem #2F98F3; }

.btn-prk.disabled, .btn-prk:disabled {
  color: #212529;
  background-color: #2F98F3;
  border-color: #2F98F3; }

.btn-prk:not(:disabled):not(.disabled):active, .btn-prk:not(:disabled):not(.disabled).active,
.show > .btn-prk.dropdown-toggle {
  color: #fff;
  background-color: #2F98F3;
  border-color: #2F98F3; }

.btn-prk:not(:disabled):not(.disabled):active:focus, .btn-prk:not(:disabled):not(.disabled).active:focus,
  .show > .btn-prk.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem #2F98F3;
    box-shadow: 0 0 0 0.2rem #2F98F3; }


.btn-prk-2 {
  color: #2F98F3;
  background-color: #F4F4F4;
  border-color: #2F98F3; }
  
.btn-prk-2:hover {
  color: #4B4B4C;
  background-color: white;
  border-color: #4B4B4C; }


.btn-prk-2:focus, .btn-prk-2.focus {
  -webkit-box-shadow: 0 0 0 0.5rem #2F98F3;
  box-shadow: 0 0 0 0.5rem #2F98F3; }

.btn-prk-2.disabled, .btn-prk-2:disabled {
  color: #212529;
  background-color: #2F98F3;
  border-color: #2F98F3; }

.btn-prk-2:not(:disabled):not(.disabled):active, .btn-prk-2:not(:disabled):not(.disabled).active,
.show > .btn-prk-2.dropdown-toggle {
  color: #fff;
  background-color: #2F98F3;
  border-color: #2F98F3; }

.btn-prk-2:not(:disabled):not(.disabled):active:focus, .btn-prk-2:not(:disabled):not(.disabled).active:focus,
  .show > .btn-prk-2.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem #2F98F3;
    box-shadow: 0 0 0 0.2rem #2F98F3; }
