 .clients {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.client {
  padding: 1rem 1rem 1rem 1rem;
}

.client-page {
	display: flex
}

@media(max-width: 768px) {
  .clients {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .client-page {
  	display: grid;
  	grid-template-columns: 1fr;  	
    text-align: center;
  }
}
