.footer-info {
  grid-template-columns: 3fr 1fr 1fr;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #DCDCDC !important;
  padding-top: 20px;
  padding-bottom: 15px;
  display: grid;
}

.footer-1 {
  background-color: white;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}


.footer-2 {
  background-color: white;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.footer-3 {
  background-color: white;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 20px;
}

.site-footer {
  padding: 2em 0px 0px 0px;
  background: #F8F9FA; 
}

@media only screen
  and (min-device-width:768px)
  and (max-device-width : 992px) {
  .footer-info {
    grid-template-columns: 3fr 1fr;
  }
  .footer-3{
    display: flex;
  }
  .footer-3 h2 {
    margin-right: 6px;
  }
  .footer-3 a {
    margin-top: -8px;
    margin-left: 10px;
  }
}

@media(max-width: 768px) {
  .footer-info {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .site-footer {
      padding: 2em 0px 0px 0px;
  }
  .site-footer p {
    color: #737373;
  }
  .site-footer h2, .site-footer h3, .site-footer h4, .site-footer h5 {
    color: black;
  }
  .site-footer a {
    color: #999999;
  }
  .site-footer a:hover {
      color: #2F98F3;
  }
  .site-footer ul li {
    margin-bottom: 10px;
  }
  .site-footer .footer-heading {
    font-size: 16px;
    color: black; 
  }
}
