
// *** navbar_prk ***

/* Navbar active */

.desktop-nav .has-children .navbar-middle-button {
  border-right: 0px;
  transition: box-shadow 0.3s;

  a {
    color: black;
    font-weight: bold;
    position: relative;
    transition: all .3s ease-in;

    &:hover:after {
      width: 100%;
    }

    &:after {
      position: absolute;
      content: "";
      left: 0px;
      width: 0;
      height: 2px;
      bottom: -7px;
      background-color: #118DD2;
      transition: all .3s ease-in;
    }
  }

  &.active a:after {
    position: absolute;
    content: "";
    left: 0px;
    width: 100%;
    height: 2px;
    bottom: -7px;
    background-color: #118DD2;
    transition: all .3s ease-in;
  }


  &:hover a,
  &.active a {
    color: #118DD2;
  }

}

/* Navbar Hamburger*/

#hamburger {
  position: absolute;
  right: 10%;
  cursor: pointer;
}

/* Navbar desktop */

.desktop-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.site-navbar {
  padding: 0.5rem 0 0.5rem 0;
  background-color: white;
  margin-bottom: 0px;
  z-index: 1999;
  position: absolute;
  width: 100%;
  font-weight: 900; }
  .site-navbar.absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
  .site-navbar .site-logo {
    position: relative;
    top: -4px;
  }
    .site-navbar .site-logo a {
      font-size: large;
      color: black;
      font-weight: 400;
    }
    .site-navbar .site-menu-toggle i {
      font-size: large;
      color: black;
      font-weight: 1000;
    }
    .site-navbar .site-logo img {
      width: 60px;
      vertical-align: middle;
      margin-top: 8px;
      @media(max-width: 600px) {
        margin-left: 42%
      }
    }
  .site-navbar .site-menu-toggle {
    color: #fff; }

  .site-navbar .site-menu-toggle:hover {
    color: #2F98F3; }

  .site-navbar .site-navigation.border-bottom {
    border-bottom: 1px solid #f3f3f4 !important; }
  .site-navbar .site-navigation .site-menu {
    margin-bottom: 0;
    margin-left: -50px!important;
  }
    .site-navbar .site-navigation .site-menu .active > a {
      color: #2F98F3; }
    .site-navbar .site-navigation .site-menu a.active {
      color: #2F98F3; }
    .site-navbar .site-navigation .site-menu a {
      text-decoration: none !important;
      display: inline-block;
      text-transform: uppercase;
      letter-spacing: .1em;
      font-size: 14px; }
    .site-navbar .site-navigation .site-menu > li {
      display: inline-block;
      padding: 10px 10px; }
      .site-navbar .site-navigation .site-menu > li > a {
        padding: 10px 0px;
        color: black;
        text-decoration: none !important; }
        .site-navbar .site-navigation .site-menu > li > a:hover {
          color: #2F98F3; }
    .site-navbar .site-navigation .site-menu .has-children {
      position: relative; }
      .site-navbar .site-navigation .site-menu .has-children > a {
        position: relative;
        padding-right: 20px;
        padding-top: 0
        }
        .site-navbar .site-navigation .site-menu .has-children > a:before {
          position: absolute;
          font-size: 16px;
          top: 50%;
          right: 0;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          font-family: 'icomoon'; }

      .site-navbar .site-navigation .site-menu #flagOnNavbar {
        position: absolute;
        right: -30px;
        top: 4px;
        .first-flag {
          justify-content: center;
          display: flex;
          padding: 0;
          min-width: 85px;
        }
      }

      .site-navbar .site-navigation .site-menu .has-children .dropdown {
        visibility: hidden;
        opacity: 0;
        top: 100%;
        position: absolute;
        text-align: left;
        border-top: 2px solid #2F98F3;
        -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
        border-left: 1px solid #edf0f5;
        border-right: 1px solid #edf0f5;
        border-bottom: 1px solid #edf0f5;
        padding: 0px 0;
        margin-top: 20px;
        margin-left: 0px;
        background: #fff;
        -webkit-transition: 0.2s 0s;
        -o-transition: 0.2s 0s;
        transition: 0.2s 0s; }
      .site-navbar .site-navigation .site-menu .has-children #flags {
        width: 85px;
        li {
          text-align: center;
          min-width: 85px
        }
        }
        .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
          position: absolute; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
            bottom: 100%;
            left: 20%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
            border-color: rgba(136, 183, 213, 0);
            border-bottom-color: #fff;
            border-width: 10px;
            margin-left: -10px; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown a {
          text-transform: none;
          letter-spacing: normal;
          -webkit-transition: 0s all;
          -o-transition: 0s all;
          transition: 0s all;
          color: #343a40; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown a.active {
            color: #2F98F3; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown .active > a {
          color: #2F98F3 !important; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown > li {
          list-style: none;
          padding: 0;
          margin: 0;
          min-width: 200px; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
            padding: 9px 20px;
            display: block; }
            .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
              color: #2F98F3; }
            .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover > img {
              filter: drop-shadow(1px 1px 1px #2F98F3); }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
            content: "\e315";
            right: 20px; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
            left: 100%;
            top: 0; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
            background: #f4f5f9;
            color: #25262a; }
      .site-navbar .site-navigation .site-menu .has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children:focus > a, .site-navbar .site-navigation .site-menu .has-children:active > a {
        color: #2F98F3; }
      .site-navbar .site-navigation .site-menu .has-children:hover, .site-navbar .site-navigation .site-menu .has-children:focus, .site-navbar .site-navigation .site-menu .has-children:active {
        cursor: pointer; }
        .site-navbar .site-navigation .site-menu .has-children:hover > .dropdown, .site-navbar .site-navigation .site-menu .has-children:focus > .dropdown, .site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
          -webkit-transition-delay: 0s;
          -o-transition-delay: 0s;
          transition-delay: 0s;
          margin-top: 0px;
          visibility: visible;
          opacity: 1; }
  .site-navbar.scrolled {
    background-color: #fff;
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    margin-top: -130px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    -webkit-box-shadow: 0 4px 15px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 15px -5px rgba(0, 0, 0, 0.1); }
    .site-navbar.scrolled.awake {
      margin-top: 0px;
      -webkit-transition: .3s all ease-out;
      -o-transition: .3s all ease-out;
      transition: .3s all ease-out; }
    .site-navbar.scrolled.sleep {
      -webkit-transition: .3s all ease-out;
      -o-transition: .3s all ease-out;
      transition: .3s all ease-out; }
    .site-navbar.scrolled .site-menu-toggle {
      color: #000; }
    .site-navbar.scrolled .site-menu-toggle:hover {
      color: #2F98F3; }
    .site-navbar.scrolled .site-navigation .site-menu li a {
      color: #000; }
    .site-navbar.scrolled .site-navigation .site-menu .active a {
      color: #2F98F3; }
      .site-navbar.scrolled .site-navigation .site-menu li a.active {
        color: #2F98F3; }
      .site-navbar.scrolled .site-navigation .site-menu li a:hover {
        color: #2F98F3; }
      .site-navbar.scrolled .site-logo a {
      color: #000 !important; }

.site-navbar:hover {
  .site-logo img {
    width: 75px;
  }
  .site-navigation .site-menu a {
    font-size: 15px
  }
  .site-navigation .site-menu #flagOnNavbar .first-flag img {
    width: 25px;
    height: 25px;
  }
}
/* Navbar desktop */

.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 9000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out; }
  .offcanvas-menu .site-mobile-menu {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); }
  .site-mobile-menu .site-mobile-menu-header {
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 20px; }
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
      float: right;
      margin-top: 8px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
        font-size: 30px;
        display: inline-block;
        padding-left: 10px;
        padding-right: 0px;
        line-height: 1;
        cursor: pointer;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
          color: #2F98F3; }
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
      float: left;
      margin-top: 10px;
      margin-left: 0px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
        display: inline-block;
        text-transform: uppercase; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
          max-width: 70px; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
          text-decoration: none; }
  .site-mobile-menu .site-mobile-menu-body {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative;
    padding: 0 20px 20px 20px;
    height: calc(100vh - 52px);
    padding-bottom: 150px; }
  .site-mobile-menu .site-nav-wrap {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative; }
    .site-mobile-menu .site-nav-wrap a {
      padding: 10px 20px;
      display: block;
      position: relative;
      color: #212529; }
      .site-mobile-menu .site-nav-wrap a:hover {
        color: #2F98F3; }
    .site-mobile-menu .site-nav-wrap li {
      position: relative;
      display: block; }
      .site-mobile-menu .site-nav-wrap li.active > a {
        color: #2F98F3; }
    .site-mobile-menu .site-nav-wrap .arrow-collapse {
      position: absolute;
      right: 0px;
      top: 10px;
      z-index: 20;
      width: 36px;
      height: 36px;
      text-align: center;
      cursor: pointer;
      border-radius: 50%; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
        background: #f8f9fa;
        color: #2F98F3;
      }
      .site-mobile-menu .site-nav-wrap .arrow-collapse:before {
        font-size: 20px;
        z-index: 20;
        content: "^";
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) rotate(-180deg);
        -ms-transform: translate(-50%, -50%) rotate(-180deg);
        transform: translate(-50%, -50%) rotate(-180deg);
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
    .site-mobile-menu .site-nav-wrap > li {
      display: block;
      position: relative;
      float: left;
      width: 100%; }
      .site-mobile-menu .site-nav-wrap > li > a {
        padding-left: 20px;
        font-size: 20px; }
      .site-mobile-menu .site-nav-wrap > li > ul {
        padding: 0;
        margin: 0;
        list-style: none; }
        .site-mobile-menu .site-nav-wrap > li > ul > li {
          display: block; }
          .site-mobile-menu .site-nav-wrap > li > ul > li > a {
            padding-left: 40px;
            font-size: 16px;}
          .site-mobile-menu .site-nav-wrap > li > ul > li > #flags:hover {
            filter: drop-shadow(1px 1px 1px #2F98F3)
          }
          .site-mobile-menu .site-nav-wrap > li > ul > li > ul {
            padding: 0;
            margin: 0; }
            .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
              display: block; }
              .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
                font-size: 16px;
                padding-left: 60px; }
    .site-mobile-menu .site-nav-wrap[data-class="social"] {
      float: left;
      width: 100%;
      margin-top: 30px;
      padding-bottom: 5em; }
      .site-mobile-menu .site-nav-wrap[data-class="social"] > li {
        width: auto; }
        .site-mobile-menu .site-nav-wrap[data-class="social"] > li:first-child a {
          padding-left: 15px !important; }
