#services-card {
	color: #4D4D4D!important; 
	padding: 1rem 1rem 1rem 1rem;
	margin: 1rem 1rem 1rem 1rem;
	display: flex;
	flex-direction: column;
	h3 {
		text-align: center
	}
	.services-multimodals{
		flex-direction: row;
	  display: flex;
	  justify-content: center;
	}
	#logo-specialite {
		display: flex;
		justify-content: center;
		margin: 1rem 1rem 2rem 1rem;
	}
}

.service-hover:hover {
	background-color: rgba(255,255,255,1);
}