.container-specialites-home {
  padding: 1rem 2rem 1rem 2rem;
  h2 {
    text-transform: uppercase;
    margin-bottom: 1rem !important;
  }
}

.nos-specialites {
  background: white;
  display: flex;
  justify-content: space-between;
  height: 300px;
  margin: 20px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
  .details {
    border:0;
    width: 70%;
    flex-direction: column;
    display: grid;
    margin: 1rem 2rem 1rem 2rem;
    p {
        text-align: justify;
    }
    a {
      height: 25px;
      position: absolute;
      bottom: 3rem;
    }
  }
}

@media(max-width: 1000px) {

  .container-specialites-home {
    padding: 1rem 1rem 1rem 1rem;
    h2 {
      text-transform: uppercase;
      margin-bottom: 1rem !important;
      text-align: center;
    }
    .nos-specialites {
      height: auto;
      background: white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 20px 0px 20px 0px;
      padding: 20px 10px 20px 10px;
      .specialite-img {
        margin: auto;
      }
      .details {
        flex-direction: column;
        display: grid;
        margin: 1rem 2rem 1rem 2rem;
        width: 90%;
        p {
            text-align: justify;
        }
        a {
          height: 25px;
          position: absolute;
          bottom: 3rem;
        }
        }

      }
    }
  }
