#section-annonces {
	display: flex;
 	align-items: center;
 	justify-content: center;
}
#section-annonces .cloudinary-button {
	background-color: #2F98F3!important;
	margin: 10px 10px 4rem 10px;
	color: white;
}